* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 15px;
}

header h1 {
  height: 5px;
  width: 20;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s, color 0.4s;
}

nav ul li a:hover {
  background-color: #fff;
  color: #ff6347;
  border-radius: 5px;
  padding: 5px;
}

main {
  padding: 20px;
}

#cadastro {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
#cadastro h2 {
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

#cadastro label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#cadastro input[type="text"],
#cadastro input[type="email"],
#cadastro input[type="tel"],
#cadastro input[type="date"],
#cadastro input[type="file"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#cadastro button {
  background-color: #4caf50;
  color: white;
  padding: 5px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#cadastro button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
