* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c4c0c0;
  color: #333;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: #4caf50;
  margin-bottom: 20px;
  text-align: center;
}

#formulario {
  width: 300px;
  margin-bottom: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

#formulario input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

#formulario button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#formulario button:hover {
  background-color: #45a049;
}
