* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: bisque;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 100vh;
}

.container {
  background-color: white;
  margin: 2rm 1rm;
  padding: 2rm;
  border-radius: 0.75rm;
  box-shadow: 0 0 0.5rm rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30rm;
}

h1{
    margin-top: 0;
    font-size: 1.5rm;
    
}
