* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #48cfe0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #a1a7a8;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  height: 300px;
}

aside {
  flex: 1;
  width: 100%;
  display: flex;
  background-color: #e0d475;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 300px;
}

.conteudo {
  flex: 2;
  width: 100%;
  display: flex;
  background-color: #e05da1;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 300px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #40db47;
}

footer div {
  flex: 1;
  width: 100%;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #a1a7a8;
  padding: 10px;
}

@media (max-width: 992px) {
  main {
    flex-direction: column;
  }

  aside {
    order: 3;
    width: 100%;
  }

  .conteudo {
    width: 100%;
  }

  footer {
    flex-wrap: wrap;
  }

  #parte1 #parte2 {
    flex: 11 50%;
  }
  #parte3 {
    flex: 11 100%;
  }
}

@media (max-width: 768px) {
  footer {
    flex-wrap: column;
  }

  #parte1,
  #parte2,
  #parte3 {
    flex: 11 100%;
  }
}
